<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DTO.Properties.Settings.StoreManageConnectionString"
            connectionString="Data Source=KNIF;Initial Catalog=StoreManage;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DTO.Properties.Settings.VUGConnectionString" connectionString="Data Source=KNIF;Initial Catalog=VUG;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>